
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');


*{
    font-family: 'PT Sans', sans-serif;
}
body{
    background-color: Gainsboro;
    flex-direction: column;
}
nav {
    background-color:whitesmoke;
}
.container {
    text-align: center;
}
p{
    text-align: center;
    
}
